<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form method="POST", action="/newteam">
 Team name: <input="string" name="name">
 Coach :<input="string" name="coach">
 Point: <input="string" name="pg">
 Shooting Guard: <input="string" name="sg">
 Power Forward: <input="string" name="pf">
 Small Forward: <input="string" name="sf">
 Center: <input="string" name="c">
  <input type="button" value"submit">
 </form>
 </body>
</html>


